:root {
  --padding: 1rem;
  --gap: 2rem;
  --card-gap: 0.5rem;
  --border-radius: var(--padding);
  --base-color: rgb(37, 35, 37);
  --base-color-rgb: 37, 35, 37;
  --color-food: rgb(20, 155, 54);
  --color-food-rgb: 20, 155, 54;
  --color-concert: rgb(153, 43, 140);
  --color-concert-rgb: 153, 43, 140;
  --color-misc: rgb(3, 97, 221);
  --color-misc-rgb: 3, 97, 221;
  --color-shopping: rgb(107, 12, 12);
  --color-shopping-rgb: 107, 12, 12;
  --color-dummy: rgb(39, 141, 148);
  --color-dummy-rgb: 9, 141, 148;
}

html {
  font-family: "Wix Madefor Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  background-color: var(--base-color);
}

body {
  padding: 0;
  margin: 0;
}

#main {
  gap: var(--gap);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100svw;
  height: 100svh;
  overflow: scroll;
  padding: 2rem;
  background-image: url("../images/tokyo_tower.webp");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

#mainHeader {
  position: sticky;
  top: 1rem;
  z-index: 1;
  display: grid;
  gap: var(--gap);
  color: white;
  background-color: rgba(var(--base-color-rgb), 0.5);
  border-radius: var(--border-radius);
  border: 1px solid currentColor;
  padding: 1rem 2rem;
  margin: 0;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  h1 {
    margin: 0;
  }
}

.card {
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
  padding: var(--padding);
  border-radius: var(--border-radius);
  p {
    padding: 0;
    margin: 0;
    color: white;
  }
  h1 {
    margin: 0;
    color: white;
  }
  h2 {
    margin: 0;
    color: white;
  }
  a {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    background-color: rgba(var(--base-color-rgb), 0.5);
    border-radius: var(--border-radius);
    align-content: center;
  }
  p.deScrp {
    white-space: pre-wrap;
  }
}

label.tpIcon {
  display: inline-block;
  color: white;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.navRadio {
  display: none;
}

label {
  position: relative;
  &.tpIcon {
    border: 1px solid white;
    .arrow {
      display: inline-block;
      margin-left: 1rem;
      position: relative;
      top: -2px;
    }
  }
}

.all {
  background-color: rgba(var(--base-color-rgb), 0.3);
}
.navRadio.all:checked + .all {
  background-color: rgba(var(--base-color-rgb), 0.6);
}

.food {
  background-color: rgba(var(--color-food-rgb), 0.3);
}
.navRadio.food:checked + .food {
  background-color: rgba(var(--color-food-rgb), 0.6);
}

.concert {
  background-color: rgba(var(--color-concert-rgb), 0.3);
}
.navRadio.concert:checked + .concert {
  background-color: rgba(var(--color-concert-rgb), 0.6);
}

.misc {
  background-color: rgba(var(--color-misc-rgb), 0.3);
}
.navRadio.misc:checked + .misc {
  background-color: rgba(var(--color-misc-rgb), 0.6);
}

.shopping {
  background-color: rgba(var(--color-shopping-rgb), 0.3);
}
.navRadio.shopping:checked + .misc {
  background-color: rgba(var(--color-shopping-rgb), 0.6);
}

.japanese {
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

navigation {
  display: none;
  gap: 1rem;
  margin-left: auto;
}

#navToggleContainer {
  margin-left: auto;
}

#navTogggle,
#hideNavToggle {
  display: none;
}

#showNavToggle {
  display: inline-block;
}

#navTogggle:checked {
  & ~ #hideNavToggle {
    display: inline-block;
  }
  & ~ #showNavToggle {
    display: none;
  }
}

#mainHeader:has(#navTogggle:checked) {
  navigation {
    display: flex;
  }
}

@media (min-width: 840px) {
  #navToggleContainer {
    display: none;
  }
  #mainHeader {
    display: flex;
    navigation {
      display: flex;
    }
  }
}
